@import "_header";


h1 {
	color: green;
}

body {
	font-size: 20px;
}
h2 {
	color:yellow;
	font-size: 16px;
}
.red{
	color: red;
	font-size: 20px;
}
.lesson {

	&__selected {
		background-color: #794f45;
		padding: 15px;
		color: white;
	}

	&__block {
		margin: 0px auto;
		width: 500px;
		height: 300px;
		padding: 15px;
		border: 20px solid #7a956b;
		overflow: auto;
		font-size: 20px;
		line-height: 150%;
	}
}
.lesson__block p:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
